<script src="/social/js/main.min.js"></script>
<script src="/social/js/script.js"></script>
<script src="/social/js/map-init.js"></script>
<script src="/social/js/notify.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    
</body>	
</html>