<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dreamify</title>
    <link rel="stylesheet" href="/social/css/main.min.css">
    <link rel="stylesheet" href="/social/css/style.css">
    <link rel="stylesheet" href="/social/css/color.css">
    <link rel="stylesheet" href="/social/css/responsive.css">
    
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    
    <style>
        .fr-popup.fr-active {
            z-index:100 !important;
        }
        .second-toolbar{
            display:none;
        }
        .fr-wrapper.show-placeholder .fr-placeholder{
            display:none;
        }
    
        .post-meta .fr-placeholder{
            display:none;
        }
        .post-meta .fr-view .fr-video.fr-dvb{
            display: initial;
        }
        /* .fr-wrapper {
            max-height: 20vh;
            overflow-y: auto;
        } */
        .fr-wrapper>div:first-child{
            display:none;
        }
    </style>
</head>
<body>
    